div{
    width: 1000px;
    height: 1000px;
    background-color: greenyellow;
    background-image: url(/../meterial/picture/dog.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size:contain;
}
body{
    background-color: red;
}